<div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<a class="navbar-brand">
    <em>T</em>inker
</a>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Portfolio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            Contact Us
        </a>
    </li>
</ul>
    </nav>
    <div class="cn-ct">
        <h2><em>tinker</em><span>HTML5</span>Template</h2>
        <p>Tinker is free HTML CSS template from templatemo that can be used for any kind of website. Please tell your friends about us. Thank you.</p>
   <button>let's start</button>
    </div>
</div>