<div class="footer">
    <div class="ft-brand">
        <span><em>T</em>inker</span>
        <p>Copyright © 2045 Your Company <br>Design: TemplateMo</p>
    </div>
    <div class="ft-loc">
        <h5>Location</h5>
        <div class="addr">
<p>30 Raffles Ave,<br>Singapore 039803</p>
<p>1 Republic Blvd,<br>Singapore 038975</p>
        </div>
    </div>
    <div class="more-info">
        <h5>more info</h5>
        <ul>
            <li><em>Phone</em>: 090-090-0320</li>
            <li><em>Email</em>: tk@company.co</li>
          </ul>
    </div>
    <div class="social-links">
        <h5>get social with us</h5>
        <ul>
            <li><a><i class="fa fa-twitter"></i></a></li>
            <li><a><i class="fa fa-facebook"></i></a></li>
            <li><a><i class="fa fa-google"></i></a></li>
            <li><a><i class="fa fa-rss"></i></a></li>
            <li><a><i class="fa fa-dribbble"></i></a></li>
          </ul>
    </div>
</div>
