<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="mcaf">
                    <div class="im-w">
                        <img src="/assets/images/service_icon_01.png" class="img-fluid">
                    </div>
                    <h5>Smart Notifications</h5>
                    <hr>
                    <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.</p>
               <button>continue reading</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="mcaf">
                    <div class="im-w">
                        <img src="/assets/images/service_icon_02.png" class="img-fluid">
                    </div>
                    <h5>Lovely Web design</h5>
                    <hr>
                    <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.</p>
               <button>continue reading</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="mcaf">
                    <div class="im-w">
                        <img src="/assets/images/service_icon_01.png" class="img-fluid">
                    </div>
                    <h5>Quick Support</h5>
                    <hr>
                    <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.</p>
               <button>continue reading</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="mcaf">
                    <div class="im-w">
                        <img src="/assets/images/service_icon_01.png" class="img-fluid">
                    </div>
                    <h5>One-Click setup</h5>
                    <hr>
                    <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.</p>
               <button>continue reading</button>
                </div>
            </div>
        </div>
    </div>
</div>