.about{
    height: 500px;
    background-image: url('/assets/images/about-bg.jpg');
    background-attachment: fixed;
}
.mcaf{
    padding-top: 75px;
}
.mcaf .im-w{
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: 15px;
    margin-bottom: 15px;
    border:4px solid #fff;
    border-radius: 50%;
    background: #f7c552;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mcaf h5{
    text-align: center;
    color:#fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
}
.mcaf hr{
    background:#fff;
}
.mcaf p{
    text-align: center;
    color:#fff;
    font-size: 12px;
}
.mcaf button{
    color:#fff;
    text-transform: uppercase;
    font-size: 11px;
    width: 180px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 50%;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    transform: translate(-50%,0);
    background:#33c1cf;
    padding:10px 10px;
}
@media (max-width:567px){
    .about{
        height: auto;
        padding-bottom: 20px;
        background-image: url('/assets/images/about-bg.jpg');
        background-attachment: fixed;
    }
}
@media (min-width:568px) and (max-width:767px){
    .about{
        height: auto;
        padding-bottom: 20px;
        background-image: url('/assets/images/about-bg.jpg');
        background-attachment: fixed;
    }
}
@media (min-width:768px) and (max-width:991px){
    .about{
        height: auto;
        padding-bottom: 20px;
        background-image: url('/assets/images/about-bg.jpg');
        background-attachment: fixed;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .about{
        height: auto;
        padding-bottom: 20px;
        background-image: url('/assets/images/about-bg.jpg');
        background-attachment: fixed;
    } 
}