<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="sidenav">
<h3>our gallary</h3>
<hr>
<p>In malesuada placerat ligula et bibendum. Aenean eget urna enim. Sed enim ante, bibendum nec dictum ac, gravida ac lectus.</p>
<ul>
    <li>show all</li>
    <li>branding</li>
    <li>graphics</li>
    <li>nature</li>
    <li>animation</li>
</ul>         
</div>
        </div>
        <div class="col-md-9">
            <div class="lst">
                <div class="item1"> <img src="/assets/images/portfolio_item_01.jpg" class="img-fluid"></div>
                <div class="item2"> <img src="/assets/images/portfolio_item_02.jpg" class="img-fluid"></div>
                <div class="item3"> <img src="/assets/images/portfolio_item_03.jpg" class="img-fluid"></div>
                <div class="item4"> <img src="/assets/images/portfolio_item_04.jpg" class="img-fluid"></div>
                <div class="item5"> <img src="/assets/images/portfolio_item_05.jpg" class="img-fluid"></div>
                <div class="item6"> <img src="/assets/images/portfolio_item_06.jpg" class="img-fluid"></div>
                <div class="item1"> <img src="/assets/images/portfolio_item_01.jpg" class="img-fluid"></div>
                <div class="item2"> <img src="/assets/images/portfolio_item_02.jpg" class="img-fluid"></div>
                <div class="item3"> <img src="/assets/images/portfolio_item_03.jpg" class="img-fluid"></div>
               
            </div>
        </div>
    </div>
</div>
