<div class="our-blog-posts">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sidebar">
                <h3>our blog posts</h3>
                <hr>
                <p>Nam vulputate elementum nulla, sit amet congue ipsum malesuada pretium. Vivamus vel gravida quam.</p>
           <button class="active">Nulla Eget Convallis Augue</button>
           <button>Quisque ultricies maximus</button>
           <button>Sed vel elit et lorem</button>
           <button>Vivamus purus neque</button>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="card">
                <img src="/assets/images/blog_item_01.jpg" class="card-img-top">
                <div class="card-body">
                    <h4>
                        Nulla eget convallis augue
                    </h4>
                 <span>
                     <a>Digital Marketing</a>/
                     <a>Honey</a>/
                     <a>26 September 2045</a>
                 </span>
                    <p>

                 Donec interdum scelerisque auctor. Nulla id lorem auctor, bibendum lectus elementum, porta felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>