<div class="say">
    <div class="carousel slide" id="myCarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">   
        <div class="carousel-item active">
            <div class="msg">
                <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptatibus veritatis. Necessitatibus esse sapiente molestias odit rerum fugiat reiciendis ab.
                </p>
            </div>
            <h3>John Henry</h3>
            <h4>New Manger</h4>
        </div>
        <div class="carousel-item">
            <div class="msg">
                <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptatibus veritatis. Necessitatibus esse sapiente molestias odit rerum fugiat reiciendis ab.
                </p>
            </div>
            <h3>
                Rechard Bell
            </h3>
            <h4>CSS Developer</h4>
        </div>
        <div class="carousel-item">
            <div class="msg">
                <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptatibus veritatis. Necessitatibus esse sapiente molestias odit rerum fugiat reiciendis ab.
                </p>
            </div>
            <h3>Dannu Que</h3>
            <h4>CEO founder</h4>
        </div>
    </div>
</div>
</div>